.add-btn {
    border-radius: 4px;
    padding: 8px;
    border: 0;
    line-height: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: purple;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #9d059d;
}